body{margin:0;font-family:tahoma}

.bg{
min-height:100vh;
background:linear-gradient(#0b2b5a,#103b78);
color:white;
text-align:center;
}

.login-card{
background:white;
color:black;
width:320px;
margin:120px auto;
padding:25px;
border-radius:15px;
}

input,button{
width:90%;
padding:10px;
margin:10px;
border-radius:10px;
border:none;
}

button{background:#0d2b57;color:white}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
gap:20px;
padding:30px;
}

.card{
background:white;
color:black;
border-radius:15px;
padding:10px;
text-decoration:none;
}

.card img{
width:100%;
border-radius:10px;
}

.section-title{
margin-top:20px;
font-size:20px;
}

.box{
background:rgba(255,255,255,0.1);
margin:20px;
padding:15px;
border-radius:15px;
}

.back{
position:fixed;
bottom:20px;
left:20px;
background:black;
color:white;
padding:10px 25px;
border-radius:20px;
text-decoration:none;
}

.top-white{
background:white;
color:black;
padding:15px;
display:flex;
justify-content:space-around;
align-items:center;
border-radius:0 0 20px 20px;
}
.bg{
background:#081b3a;
color:white;
font-family:tahoma;
}

.top-bar{
background:white;
padding:10px 20px;
border-radius:20px;
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
margin:15px;
}

.link{
color:#081b3a;
font-weight:bold;
cursor:pointer;
}

.stat{
color:#081b3a;
font-weight:bold;
}

.subjects{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
gap:15px;
padding:20px;
}

.subject{
background:#123a7a;
padding:15px;
border-radius:15px;
text-align:center;
cursor:pointer;
}